<!-- header.htm -->
<!-- Header -->
<header class="masthead">
	<div class="container">
		<div class="intro-text">
			<div class="intro-lead-in">Welcome To MB Learning!</div>
			<div class="intro-heading text-uppercase">Where it is easy to learn in your own home.</div>

			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<a class="button button--tamaya button--round-s button--text-thick button--border-thin js-scroll-trigger" href="#how-it-works" data-text="Tell Me More"><span>Tell Me More</span></a>
				</div>
			</div>

		</div>
	</div>
</header>
